@CHARSET "UTF-8";

body {
	

background: #16A085;
background: -webkit-linear-gradient(to left, #16A085 , #F4D03F); 
background: linear-gradient(to left, #16A085 , #F4D03F); 
        
	text-align: center;
}

form {
	margin:20px;
	line-height: 2;
}

