body {
	background-color: #F3FAB6;
	color: black;
}

.para {
	font-size: 14;
	margin: 0;
	padding: 7px;
	position: absolute;
}

.column {
	float: left;
	font-family: sans-serif;
	margin: 0px 15px;
	overflow: hidden;
}

div.main {
	min-width: 1024px;
	position: relative;
	text-align: center;
}

.descr {
	font-size: 16;
	line-height: 1em;
	height: 2em;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}

div.box {
	float: left;
	width: 180px;
}

.box a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.box a:hover {
	background: #CBE32D;
}

.bloki {
	background-color: #005A31;
	border-style: solid;
	border-width: 0px;
	border-radius: 25px;
}

h2 {
	margin: 2px;
	padding: 2px;
}

.box {
	margin: 12px;
}

ul {
	width: 100%;
	padding-left: 0px;
	text-align: center;
}

li {
	margin: 2px 0px;
	list-style-type: none;
}

p {
	font-size: 18;
	margin: 0;
}
#card:hover{
   background-color:#FF0000;
}

#card {
	transition: background-color ease-in 0.5s;
	background-color: #CBE32D;
	border-radius: 25px;
	border: 2px solid #000000;
	padding: 0px;
	width: calc(100% - 4px);
	height: 150px;
	margin: 5px 3px;
	hover:
}