body {
	background-color: #F3FAB6;
	color: Black;
}

.para {
	font-size: 14;
	margin: 0;
	padding: 7px;
	position: absolute;
}

.column {
	float: left;
	font-family: sans-serif;
	margin: 0px 15px;
	overflow: hidden;
}

div.main {
	min-width: 1024px;
	position: relative;
	text-align: center;
}

.descr {
	font-size: 16;
	line-height: 1em;
	height: 2em;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}

div.box {
	float: left;
	width: 180px;
}

.box a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.box a:hover {
	background: #CBE32D;
}

.bloki {
	background-color: #005A31;
	border-style: solid;
	border-width: 0px;
	border-radius: 25px;
}

h2 {
	margin: 2px;
	padding: 2px;
}

.box {
	margin: 12px;
}

ul {
	width: 100%;
	padding-left: 0px;
	text-align: center;
}

li {
	margin: 2px 0px;
	list-style-type: none;
}

p {
	font-size: 18;
	margin: 0;
}
#card:hover{
   background-color:#FF0000;
}

#card {
	transition: background-color ease-in 0.5s;
	background-color: #CBE32D;
	border-radius: 25px;
	border: 1px solid #000000;
	border-color:#005A31;
	padding: 0px;
	width: calc(100% - 4px);
	height: 150px;
	margin: 5px 3px;
	hover:
}

.btn {
	-moz-box-shadow:inset 0px 40px 0px -24px #276873;
	-webkit-box-shadow:inset 0px 40px 0px -24px #276873;
	box-shadow:inset 0px 40px 0px -24px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
	transition: all ease-in-out 0.5s;
}
.btn:active {
	position:relative;
	top:1px;
}

inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}

inputs-moz-placeholder {
    color: #b5b5b5;
}

.inputs {
	padding-left:3px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.inputs:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

.inputs:hover {
    background: #DFE9EC;
    color: #414848;
}

.searchInput { 
    background: #FFF url(search.png) no-repeat 4px 4px; 
    border: 1px solid #999; 
    outline:0; 
    height:25px;
    width:160px;	
    padding-left:25px;
    border-radius:25px;
  } 




