.btn {
  background: #104206;
  background-image: -webkit-linear-gradient(top, #104206, #5cbd24);
  background-image: -moz-linear-gradient(top, #104206, #5cbd24);
  background-image: -ms-linear-gradient(top, #104206, #5cbd24);
  background-image: -o-linear-gradient(top, #104206, #5cbd24);
  background-image: linear-gradient(to bottom, #104206, #5cbd24);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #0ef586 10px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  text-decoration: none;
}