@CHARSET "ISO-8859-1";

html, body {
	min-height: 100%;
}

body {
	background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
	background-image: linear-gradient(top, #edecec, #cecbc9);
}

.buttonHolder {
	margin: 80px auto;
	width: 400px;
}

.button {
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 20%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px
		white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
	float: left;
	height: 50px;
	margin: 0 30px 30px 0;
	position: relative;
	text-decoration:none;
	width: 70px;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
/*some styles  are from web*/
.button:after {
	color: #e9e6e4;
	content: "";
	display: block;
	font-size: 21px;
	height: 30px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	width: 30px;
}

.tick:after {
	content:"Accept";
	left: 5px;
	top: 4px;
}

.cross:after {
	content:"Reject";
	left: 6px;
	top: 4px;
}
.cross{
	float:right;
}
.button:hover {
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color: #0088cc;
}

.tick:hover:after {
	color: #0000ff;
	text-shadow: 0px 0px 6px #83d244;
}

.cross:hover:after {
	color: #eb2f2f;
	text-shadow: 0px 0px 6px #eb2f2f;
}

.button:active {
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0px -3px 1px 1px
		rgba(204, 198, 197, .5);
}

.button:active:after {
	color: #dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
.button:hover{
	cursor:pointer;
}
ul {
	list-style-type: none;
	width: 500px;
}

h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
	float: left;
	margin: 0 15px 0 0;
}

li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
	margin: 20px;
	padding: 10px;
	overflow: auto;
	border: 2px solid green;
	border-radius: 5px;
}

li:hover {
	background: #26a905;
}